version: '3'
services:
  master:
    image: 'agile6v/squeeze:v0.1.0'
    command: 'squeeze master --alsologtostderr'
    networks:
      squeeze:
        ipv4_address: 172.22.0.3

  slave:
    image: 'agile6v/squeeze:v0.1.0'
    command: 'squeeze slave --grpcMasterAddr=master:9997 --masterAddr=master:9998 --grpcAddr=0.0.0.0:9991 --alsologtostderr -v=2'
    depends_on:
      - master
    networks:
      squeeze:
        ipv4_address: 172.22.0.4
    extra_hosts:
      - "master:172.22.0.3"

  web:
    image: 'agile6v/squeeze:v0.1.0'
    command: 'squeeze web --type="sqlite" --masterAddr="http://master:9998"  --alsologtostderr'
    depends_on:
      - master
    networks:
      squeeze:
        ipv4_address: 172.22.0.5
    extra_hosts:
      - "master:172.22.0.3"

networks:
  squeeze:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.22.0.0/16